HeaderFilterRegex: ''

Checks: >
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -bugprone-exception-escape,
  -bugprone-integer-division,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-misplaced-widening-cast,
  -bugprone-narrowing-conversions,
  -bugprone-parent-virtual-call,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-interfaces-global-init,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-noexcept-swap,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-use-enum-class,
  clang-analyzer-*,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-core.DivideZero,
  -clang-analyzer-core.NullDereference,
  -clang-analyzer-core.StackAddressEscape,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-security.insecureAPI.rand,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-unix.BlockInCriticalSection,
  -clang-analyzer-unix.Malloc,
  -clang-analyzer-unix.StdCLibraryFunctions,
  -clang-analyzer-unix.Stream,
  misc-*,
  -misc-const-correctness,
  -misc-definitions-in-headers,
  -misc-header-include-cycle,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-redundant-expression,
  -misc-unused-alias-decls,
  -misc-unused-parameters,
  -misc-unused-using-decls,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-redundant-void-arg,
  -modernize-return-braced-init-list,
  -modernize-type-traits,
  -modernize-use-auto,
  -modernize-use-bool-literals,
  -modernize-use-default-member-init,
  -modernize-use-emplace,
  -modernize-use-equals-default,
  -modernize-use-nodiscard,
  -modernize-use-nullptr,
  -modernize-use-scoped-lock,
  -modernize-use-trailing-return-type,
  -modernize-use-transparent-functors,
  -modernize-use-using,
