# eclipse
.settings/
.pydevproject
.cproject
.project

#netbeans
nbproject/

#Qt creator
ecflow.config
ecflow.creator
ecflow.includes
ecflow.files
ecflow.creator.user
 
# cmake
ecbuild/
build/

# ecflow 
bin/
swap
*.job0
*.job1
*.job2
*.job3
*.1
*.dat
*.def_log
*.glog
*.def.glog

# hack to ignore naw.def.glog
**/naw.def.glog
 
*.lock
*.log
*.so
*.pyc

ECF_HOME_debug/
ECF_HOME_release/

gmon.out

*.check
*.b
/eurydice.3141.ecf.check
/eurydice.3141.ecf.log
/eurydice.3141.ecf.check.b
/gnuplot.script
/CUSTOMER/
