{% load staticfiles %}
{% load bootstrap3 %}
{% include "header.html" %}
<style media="screen" type="text/css">
.image-link {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
</style>
<div class="container">	<!--  --><h1></h1><p></p></div>
<div class="container">	<!--  --><h1></h1><p></p></div>
<p><div class="newtab-cell"></div></p>
<div class="container">	<!--  --><h1></h1><p></p></div>
<div class="container"><div class="row"></div>
<div class="row"></div>
<div class="row">
<a href="https://software.ecmwf.int/wiki/display/ECFLOW/Tutorial">ecFlow
    Tutorial /</a>
<a href="https://software.ecmwf.int/wiki/display/ECFLOW/Known+bugs+or+issues">
    PR / </a></li>
<a href="http://{{ HOST }}/api/ecflow/servers/treemap"> display /</a></li>
<a href="http://{{ HOST }}/triggers"> triggers / </a></li>
<a href="http://{{ HOST }}/api/ecflow/servers/raw"> fancy that / </a>
</div></div>
<div class="newtab-cell"></div></p>

